/target

.gitconfig
.gitmodules
.idea
.mcp.json
.profile
.ripgreprc
.zprofile
.zshrc
.vscode
.bashrc
.bash_profile
config
HEAD
hooks
objects
refs
.claude

.ruff_cache
.venv
.worktrees
benchmark/output
build
**/__pycache__/**
*.json